.section-boxes {
  padding-block: 28px;

  &__head {
    @include center-block(542px);
    text-align: center;
    margin-block-end: 33px;
  }

  &__title {
    margin-block-end: 5px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: space-between;

    @include media(down, $desktop) {
      gap: 30px;
    }

    @include media(down, $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(down, $mobile) {
      grid-template-columns: 1fr
    }
  }

  &__box {
    &-inner {
      box-shadow: $shadow;
      border-radius: $border-radius;
      overflow: hidden;
      height: 100%;
      text-align: center;
      padding: 20px 30px;
    }

    &-img {
      @include center-block(64px);
      margin-block-end: 15px;
      height: 56px;

      img {
        @include image-size;
      }
    }

    &-title {
      font-size: $h3-font-size;
      line-height: 1.3;

      @include media(down, $tablet) {
        font-size: $text-font-size;
      }
    }

    &-entry {
      margin-block-start: 8px;
      font-size: $text-font-size-small;
    }
  }
}
