.section-achievements {
  background-color: $color-catskill-white;
  padding-block: 58px;
  margin-block-end: 23px;

  &__inner {
    @include media(up, $desktop) {
      display: grid;
      grid-template-columns: 408px 540px;
      gap: 50px;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__head {
    @include media(down, $desktop) {
      text-align: center;
      margin-block-end: 30px;
    }
  }

  &__title {
    margin-block-end: 10px;
  }

  &__entry {
    @include media(down, $tablet) {
      font-size: $text-font-size-small;
    }
  }

  &__boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include media(down, $mobile) {
      gap: 10px;
    }
  }

  &__box {
    display: flex;
    align-items: center;

    &-img {
      @include width-height(47px);
      margin-inline-end: 20px;

      @include media(down, $mobile) {
        @include width-height(30px);
        margin-inline-end: 10px;
      }

      img {
        @include image-size;
      }
    }

    &-data {
      p {
        font-size: $text-font-size-small;
      }
    }

    &-title {
      font-size: $numbers-font-size;

      @include media(down, $tablet) {
        font-size: $text-font-size-big;
      }
    }
  }
}
