.section-cta {
  background-color: $color-catskill-white;
  padding-block: 33px;
  text-align: center;

  &__inner {
    @include center-block(886px);
  }

  &__title {
    @include title-h1($h1-font-size-mobile, $h1-font-size);
    margin-block-end: 30px;
  }
}
