.btn {
  padding: 13px 30px;
  appearance: none;
  border: 0;
  border-radius: 4px;
  background-color: $color-apple;
  color: $color-white;
  font-size: $text-font-size;
  font-weight: 500;
  outline: inherit;
  display: inline-block;
  text-align: center;
  transition: background-color $trs;
  user-select: none;
  text-decoration: none;

  &:hover {
    background-color: $color-apple-1;
  }

  @include mobile-down {
    display: block;
    font-size: $text-font-size-small;
  }
}
