// Set width and height of the same size.
@mixin width-height($size) {
  height: $size;
  width: $size;
}

@mixin unstyled-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin center-block($width) {
  margin-inline: auto;
  max-width: $width;
}

@mixin image-size($size: cover) {
  height: 100%;
  object-fit: $size;
  width: 100%;
}
