/**
 *
 * Colors
 *
 */

$color-white: #ffffff;
$color-black: #000;
$color-catskill-white: #f5f7fa;
$color-apple: #43A046;
$color-apple-1: #388E3B;

/**
  *
  * Font size
  *
  */

$h1-font-size: 64px;
$h1-font-size-mobile: 30px;
$h2-font-size: 66px;
$h3-font-size: 28px;
$h4-font-size: 20px;
$text-font-size: 18px;
$text-font-size-small: 16px;

/**
  *
  * Transitions
  *
  */

$trs: 0.3s;
