/**
 *
 * Colors
 *
 */

$color-white: #FFFFFF;
$color-black: #000;
$color-alto: #000;
$color-shamrock: #28CB8B;

/**
  *
  * Font size
  *
  */

$h1-font-size: 64px;
$h2-font-size: 66px;
$h3-font-size: 28px;
$h4-font-size: 20px;
$text-font-size: 18px;
$text-font-size-small: 16px;

/**
  *
  * Transitions
  *
  */

$trs: 0.3s;
